@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #0b85ff;
}

header {
  background: #21006e74;
  color: #f70000;
  text-align: center;
  padding: 20px 0;
}

code {
  background-color: #fffefe;
  color: #000000;
  padding: auto;
}

.main-site-back {
  background: #ff2b2b;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 66px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 24px;
  justify-content: space-between;
}

.footer {
  color: #999999;
}

.footer:hover {
  background-color: #0b85ff;
  color: black;
}

footer {
  text-align: center;
  background: transparent;
  color: #fff;
  padding: 1rem 0;
  margin-top: 2rem;
  border: 1px solid #0b85ff;
}

nav h1 {
  font-size: 60px;
  color: #fff;
  background: transparent;
}

h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

h2 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

h3 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

nav i.ri-slash-commands-2 {
  font-size: 60px;
  color: #0b85ff;
}

h2 {
  color: #fff;
}

.des p {
  color: #ffff;
}

.des h1 {
  color: #ffff;
}

@media (width > 600px) {
  .moreLh1 {
    position: relative;
    left: 88px;
  }

  .des p {
    font-size: 18px;
  }

  .clas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px;
    gap: 50px;
    clear: both;
  }

  .img2 img,
  .img img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    min-height: 100px;
    min-width: 200px;
    float: left;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 10px #343434;
    background-color: #a600ff;
  }
  .img {
    transition: 0.2s;
  }
  .img:hover {
    transform: scale(1.08);
    transition: 0.2s;
  }

  .img2 {
    transition: 0.2s;
  }
  .img2:hover {
    transform: scale(1.08);
    transition: 0.2s;
  }

  #ico {
    transition: 0.2s;
  }
  #ico:hover {
    transform: scale(1.08);
    transition: 0.2s;
  }

  .des {
    width: 500px;
  }

  .des li,
  .des h1 {
    text-align: center;
  }

  .des li {
    color: #ffffff;
    margin-bottom: 20px;
  }

  .des h1 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .des h2 {
    color: #b0afaf;
    font-size: 40px;
    text-align: center;
    margin-bottom: 12px;
  }

  .des h3 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 12px;
  }

  .spaceH {
    margin-bottom: 12px;
  }

  .spaceUH {
    display: none;
  }
}

@media (max-width: 600px) {
  .spaceUH {
    margin-bottom: 80px;
  }

  .HandyFooter {
    text-align: center;
    margin-top: 20px;
  }

  nav i.ri-slash-commands-2 {
    font-size: 34px;
    color: #0b85ff;
  }

  .img2 img,
  .img img {
    position: relative;
    left: 10%;
    width: 80%;
    margin: 0 auto;
  }

  .des h1 {
    position: relative;
    font-size: 18px;
    left: 6px;
  }

  .des li,
  .des h2,
  .des h3 {
    position: relative;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 10px auto;
  }

  .des p {
    position: relative;
    left: 2px;
    font-size: 14px;
  }

  #more h1 {
    position: relative;
    left: 50px;
  }

  #moreLh1 {
    position: relative;
    left: 50px;
  }

  #more2 h1 {
    position: relative;
    left: 60px;
  }

  #moreP {
    position: relative;
    left: 32px;
  }

  #morePP {
    position: relative;
    left: 58px;
  }

  #PCIMG {
    display: none;
  }
}

@media (width > 600px) {
  #MIMG {
    display: none;
  }
  .HandyFooter {
    display: none;
  }

  .main-site-back:hover {
    width: 130px;
    height: 66px;
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  nav i.ri-slash-commands-2 {
    font-size: 34px;
    color: #0b85ff;
  }

  .PCFooter {
    display: none;
  }

  .main-site-back {
    top: auto;
    top: 20px;
    width: 50px;
    height: 38px;
    font-size: 1;
    position: absolute;
  }
  .backfont {
    display: none;
  }
}
